.mainBlock {
  display: grid;
  background-color: black;
  padding: 50px;
}

.title_container {
  color: white;
  margin-left: 380px;
  font-size: 45px; /* Измените размер шрифта по необходимости */
}

.info_button {
  display: flex; /* Добавлено, чтобы центрировать кнопку внутри контейнера */
  justify-content: center; /* Центрирование по горизонтали */
  appearance: none; /* Убирает нативную оболочку кнопки */
  outline: none; /* Убирает контур при фокусировке */
  margin-bottom: 3%;
  margin-right: 25%;
}

.info_button button {
  width: 170px;
  padding: 10px 15px; /* Отступы внутри кнопки */
  background-color: #007bff; /* Цвет фона */
  color: rgb(0, 0, 0); /* Цвет текста */
  border: none; /* Уберите границу */
  border-radius: 10px; /* Скругленные углы */
  cursor: pointer; /* Курсор-указатель при наведении */
  font-size: 18px; /* Размер шрифта */
  transition: background-color 0.5s, transform 0.5s; /* Плавный переход цвета и масштаба */
}

.info_button button:hover {
  background-color: #ffffff; /* Цвет фона при наведении */
  color: black;
  transform: scale(1.1); /* Увеличение при наведении */
}

.info_button button:active {
  background-color: #007bff; /* Цвет фона при клике */
  transform: scale(0.85); /* Уменьшение при клике */
}
