* {
  padding: auto;
  margin: auto;
}

.wrapper {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 57% 10% 10% 10% 10%;
}

.main_above {
  color: rgb(255, 255, 255);
  padding: 25px;
  margin: 25px;
  margin-left: 450px;
}

.blue_one {
  color: #007bff;
  display: grid;
  padding-bottom: 70px;
}

.others {
  padding: 3px;
  margin: 3px;
}

.blue_link {
  text-decoration: none;
  color: rgb(0, 132, 255);
}

.link {
  text-decoration: none;
  color: whitesmoke;
}

.icons-container {
  display: grid;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: space-around; /* Равномерное распределение по горизонтали */
}

.mountain,
.cerberus,
.medusa,
.ancientGrecee {
  width: 45px;
  margin-top: 15px;
}
