* {
  padding: 0;
  margin: 0;
}

.wrapper {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 59% 10% 10% 12% 11%;
}

.main_above {
  color: rgb(255, 255, 255);
  padding: 25px;
  margin: 25px;
  margin-left: 350px;
}

.blue_one {
  color: blue;
  display: grid;
  padding: 10px;
  margin: 10px;
  padding: 3px;
  margin: 3px;
}

.others {
  padding: 3px;
  margin: 3px;
}

.blue_link {
  text-decoration: none;
  color: rgb(0, 132, 255);
}

.link {
  text-decoration: none;
  color: whitesmoke;
}

.mountain {
  width: 45px;
  margin-top: 10px;
}

.cerberus {
  width: 45px;
  margin-top: 10px;
}

.medusa {
  width: 45px;
  margin-top: 10px;
}

.AncientGrecee {
  width: 43px;
  margin-top: 10px;
}
