.All {
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: black;
  padding: 20px;
}

.Zeus {
  width: 100%;
  max-width: 1000px;
}

.lightning {
  width: 45px;
}

.info {
  color: white;
  display: grid;
  margin-right: 30px;
}

.title_container {
  margin-top: -20px; /* Поднимите заголовок выше */
  border: 2px solid #ffe600; /* Цвет и толщина рамки */
  padding: 7px; /* Внутренние отступы */
  background-color: black; /* Фон */
  display: inline-block; /* Чтобы рамка окружала только текст */
  color: white; /* Цвет текста */
  border-radius: 20px;
}

h1 {
  margin: 0; /* Убедитесь, что нет отступов вокруг заголовка */
  display: flex; /* Используйте flex для выравнивания содержимого */
}
