.All {
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.Zeus {
  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
}

.lightning {
  width: 45px;
}

.info {
  color: white;
  display: grid;
  margin-right: 30px;
}

.title_container {
  border: 2px solid #ffe600; /* Цвет и толщина рамки */
  padding: 7px; /* Внутренние отступы */
  background-color: rgb(0, 0, 0); /* Фон */
  color: white; /* Цвет текста */
  border-radius: 20px;
}

h1 {
  margin: 0; /* Убедитесь, что нет отступов вокруг заголовка */
  display: flex; /* Используйте flex для выравнивания содержимого */
}
